@import "vars";

.section {
  padding: 0 0 200px;
}
.title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: bold;
}
.list {
  display: grid;
  gap: 20px;
  font-size: 19px;
  & li{
    padding: 16px;
    display: grid;
    column-gap: 12px;
    align-items: center;
    text-align: center;
  }
  & span:nth-child(-n+2) {
    text-align: left;
  }
  & .headerRow {
    grid-template-columns: 180px 1fr 130px 130px 130px 230px;

    text-align: center;
  }
  & .bodyRow {
    grid-template-columns: 180px 1fr 130px 130px 130px 230px;
    grid-template-rows: auto auto;
    background-color: $card-bg-color;
  }
}
