@import "vars";

.detailsBox {
  grid-column: 1 / -1; // Растягиваем на весь ряд
  grid-row: 2;
  display: grid;
  background-color: red;
  & p {
    padding: 10px;
    border-bottom: 2px solid $card-bg-color;
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: left;
  }
}
.infoBtn {
  margin: auto;
  width: 48px;
  border: 0;
  outline: none;
  background-color: transparent;
  & img {
    margin: auto;

  }
}